<!--This form will be creating three objects (one instance of the Pirate class, and two instances of the Ship class). Remember, you'll need to build a corresponding controller action to load this page. Your form should POST to the route '/pirates'.-->

<h1>Make your form here</h1>

<form action="/pirates" method="post">
  Pirate Name: <input type="text" name="pirate[name]">
  Pirate Weight: <input type="text" name="pirate[weight]">
  Pirate Height: <input type="text" name="pirate[height]">
  Ship Name: <input type="text" name="ship[name]">
  Ship Type: <input type="text" name="ship[type]">
  Ship Booty: <input type="text" name="ship[booty]">
  <input type="submit">
</form>
